{
  "env": {
    "node": true, // este era el unico que tenia
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  // "parserOptions": {
  //   "ecmaVersion": 8
  // },
      
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
  
}